html {
  /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
  font-size: 11px; 
  /* Google fonts 输出的 CSS */
  font-family: 'Open Sans', sans-serif; 
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li ,ul{
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #58A0E8;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 5px 5px 2px black
}

img {
  display: block;
  margin: 0 auto;
}